<h1>Tim Winfred</h1>
<form action="/api/users" method="post">
    <input type="text" name="fname" id="fname">
    <input type="text" name="lname" id="lname">
    <input type="text" name="email" id="email">
    <input type="text" name="password" id="password">
    <input type="submit" value="Submit">
</form>

<h2>Users</h2>
    <% for(x in users) { %>
        <tr>
            <td><%= users[x].fname %></td>
            <td><%= users[x].lname %></td>
            <td><%= users[x].email %></td>
        </tr>
    <% } %>